<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="Bhavyashri Vedula, Rishav Agarwal, Rajvardhan Deshmukh" />
    <meta name="description" content="illuminify Official Website" />
    <title>Illuminify</title>

    <!-- --------------------------------------LINKS------------------------------------------------------ -->
    
<!-- FONTS----------------- -->
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans"
      rel="stylesheet"
    />

<!-- ICONS------------------ -->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />    
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />

<!-- MINIMISED LIBRARY------ -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css"
    />
    
    <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css"
    rel="stylesheet"
    />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.js" />

<!-- CSS----------------     -->
    <link rel="icon" href="images/image2.png" />
    <link rel="stylesheet" href="css/style1.css" />
    <link rel="stylesheet" href="css/style.css" />

    <!-- --------------------------------------END LINKS------------------------------------------------------- -->
  </head>

  <body>
     
<div class="fluid-container">
    
  <!-- HOME SECTION---------------------------------------------------------------- -->

  <section id="home">
    
      <div class="button_container" id="toggle">
          <span class="top"></span>
          <span class="middle"></span>
          <span class="bottom"></span>
        </div>
    <!-- Content -->
    <div class="parallax-container center valign-wrapper">
      <div class="container">
        <div class="row">
          <div class="col s12 white-text">
            <div class="logo center"><img src="images/logo.png" /></div>
   
            <h1 class="logo_text center">Illuminify Tech</h1>
            <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
            <h3 class="text center" id="change_here">Change is here</h3>
          </div>
          <div class="arr" style="font-size: 21px;">
    
            <a href="#products" class="scrollLink"> <p style="color: beige;" class="wow bounce default" data-wow-duration="2s" data-wow-iteration="100">Learn More<br>&darr;</p></a>
            
            </div>
            
        </div>
      </div>
      

      <!-- ----Parallax Image---- -->
      <!-- <div class="parallax">
        <img src="./images/LandingPageBG_min.jpg" />
      </div> -->
    </div>
  </section>
  
  <!-- END SECTION---------------------------------------------------------------- -->
 


  <!-- PRODUCTS SECTION---------------------------------------------------------------- -->
    <section id="products" style="background-color: #070707;">
      <div>&nbsp;</div>
      <div class="row center">
        <h3 data-aos="zoom-in" data-aos-duration="850" class="heading">
          Products
        </h3>
      </div>
      <div class="row">
        <div
          data-aos="fade-up"
          data-aos-duration="850"
          data-aos-easing="linear"
          class="pro_head col s12 l4 offset-l2"
        >
          THEIA
          <p class="pro_content">
            <span style="font-style: italic;"
              >"The Greek Goddess of Sight."</span
            ><br />
            A unique braille watch, helping the visually impaired “feel” time
            like never before.
          </p>
        </div>

        <div
          data-aos="fade-up"
          data-aos-duration="850"
          data-aos-easing="linear"
          class="col s12 l4 pro_image center"
        >
          <!-- <img src="images/picture.png" /> -->
        </div>
      </div>

      <div>&nbsp;</div>
      <div>&nbsp;</div>

      <div class="row" id="athena">
        <div
          id="athena_image"
          class="col s12 l4 offset-l2 pro_image center"
          data-aos="fade-up"
          data-aos-duration="850"
          data-aos-easing="linear"
        >
          <!-- <img src="images/picture.png" /> -->
        </div>
        <div
          id="athena_text"
          class="pro_head col s12 l4"
          data-aos="fade-up"
          data-aos-duration="850"
          data-aos-easing="linear"
        >
          ATHENA
          <p class="pro_content">
            <span style="font-style: italic;"
              >"The Greek Goddess of Wisdom."</span
            ><br />
            A one-of-a-kind text to braille device giving the visually
            challenged a chance to read anything they want.
          </p>
        </div>
      </div>

      <div>&nbsp;</div>
      <div>&nbsp;</div>

      <div class="row">
        <div
          class="pro_head col s12 l4 offset-l2"
          data-aos="fade-up"
          data-aos-duration="850"
          data-aos-easing="linear"
        >
          KERES
          <p class="pro_content">
            <span style="font-style: italic;"
              >"The Greek Goddess of Night."</span
            ><br />
            A life changing tool that’ll enable the visually impaired have a
            sense of their surroundings.
          </p>
        </div>
        <div
          class="col s12 l4 pro_image center"
          data-aos="fade-up"
          data-aos-duration="850"
          data-aos-easing="linear"
        >
          <!-- <img src="images/picture.png" /> -->
        </div>
      </div>

      <div>&nbsp;</div>
    </section>

  <!--END PRODUCTS SECTION---------------------------------------------------------------- -->

  
  <!-- ABOUT SECTION---------------------------------------------------------------- -->
    <section id="about">
        <div class="row test">
            <div id="about_heading" class="col l2 m12 s12">
              <h2 id="aboutus">About Us</h3>
            </div>
            <div data-aos="fade-up" data-aos-duration="1200" id="about_content" class="col l5 m12 s12">
              <p>
                  <span id="hello">Hello,</span><br />
                  How often are we willing to go that extra mile to make the world a better place? Well, at Illuminify that is just what we strive
                  for. We aim to develop revolutionary products for making our lives better. We aim to touch the lives of millions through world class tech
                  delivered with precision. We also aim to create a change, that address real world problems. We work at the grass root level with only one
                  goal, that is to elevate the way people live. <br />
                  <br/>Click on the subscribe button to sign up, and be the first to know about our latest updates!
              </p>
            </div>

            <div id="contact_us" class="col l4 m12 s12">
              <!-- <div class="col l4"> -->
                <h3 class="contact100-form-title" data-aos="zoom-in" style="font-color: #070707;" data-aos-duration="1200" >
                    GET IN TOUCH
                </h3>
                <div data-aos="fade-up" data-aos-duration="1200">
              <div class="row">
                <form action="https://illumnify.herokuapp.com/postroute" method="POST" class="col s12">
                  <!-- <div data-aos="fade-up" data-aos-duration="1200" class="row"> -->
                    <div class="row">
                    <div class="input-field no-pad col s12 l6">
                      <input  id="first_name" type="text" name="fname" class="validate" required>
                      <label for="first_name">First Name</label>
                    </div>
                    <div class="input-field no-pad col s12 l6">
                      <input id="last_name" type="text" name="lname" class="validate" required>
                      <label for="last_name">Last Name</label>
                    </div>
                  </div>
                  <!-- </div> -->

                  <!-- <div data-aos="fade-up" data-aos-duration="1200" class="row"> -->
                    <div class="input-field col s12">
                      <input id="email" type="email" name="email" class="validate" required>
                      <label for="email">Email</label>
                    </div>
                  <!-- </div> -->

                  <!-- <div data-aos="fade-up" data-aos-duration="1200" class="row"> -->
                      <div class="input-field col s12">
                        <input id="subject" type="text"  name="subject" class="validate" required>
                        <label for="Subject">Subject</label>
                      </div>
                    <!-- </div> -->

                  <!-- <div data-aos="fade-up" data-aos-duration="1200" class="row"> -->
                    <div class="input-field col s12">
                      <textarea id="textarea1"  name="mess" class="materialize-textarea" required></textarea>
                      <label for="Message">Message</label>
                    </div>
                  <!-- </div> -->
                  <div class="col s12">
                  <!-- <button id="btn1" class="btn waves-effect waves-light" type="submit" name="action">Submit
                      <i class="material-icons right">send</i>
                    </button> -->
                    <button type="submit"></button>
                  </div>
                    
                </form>
                </div>
                  
                  </div>
              </div>
          <!-- </div> -->
          </div>

      </section>  
      
  <!-- END ABOUT SECTION---------------------------------------------------------------- -->

  <!-- -------------------------------GRANTS AND AFFILIATIONS--------------------------- -->
  <section id="grants_aff">
        <div class="row">
            <div id="grant_heading" class="col l12 s12">
              <h2 id="grant">Grants and Affiliations</h2>
            </div>
          </div>
          <div class="row" data-aos="fade-up" data-aos-duration="1200">
            <div class="center g_logo col l4 s12">
              <img src="images/vit.png">
            </div>
            <div class="center g_logo col l4 s12">
              <img src="images/DST.png">
            </div>
            <div class="center g_logo col l4 s12">
              <img src="images/np.png">
            </div>
          </div>
  </section>
                  

       <!-- FOOTER------------------------------------------------------------------ -->
      <footer id="footer">
        <img src="./images/logo.png" alt="illumnify_logo" class="illumnify-logo" />


        <div id="contact">
          <!-- <p>
            Lorem, ipsum dolor consectetur adipisicing elit.
          </p> -->
        </div>

        <div class="socials">
          <!-- <a href="#"><i class="fa fa-twitter" ></i></i></a> -->
          <a href="https://www.facebook.com/illuminifytech/" target="new_blank"><i class=" fa fa-facebook-f"></i></a>
          <a href="https://www.instagram.com/illuminifytech/" target="new_blank"><i class="fa fa-instagram"></i></a>
          <a href="https://www.linkedin.com/company/illuminify-tech" target="new_blank"><i class="fa fa-linkedin"></i></a>
        </div>
      </footer>

    <div class="overlay" id="overlay">
      <nav class="overlay-menu">
        <div>&nbsp;</div>
        <ul class="menu">
          <div class="row">
            <li>
              <!-- <p><a href="#">Home</a></p> -->
              <a href="#"><h4 class="heading color1">HOME</h4></a>
            </li>
          </div>

          <div class="row">
            <li>
              <!-- <p><a href="#products">Products</a></p> -->
              <a href="#products"><h4 class="heading color1">PRODUCTS</h4></a>
            </li>
          </div>

          <div class="row">
            <li>
              <!-- <p><a href="#about">About Us</a></p> -->
              <a href="#about"><h4 class="heading color1">ABOUT US</h4></a>
            </li>
          </div>

          <div class="row">
            <li>
              <!-- <p><a href="#products">Products</a></p> -->
              <a href="#grants_aff"><h4 class="heading color1">GRANTS AND<br>AFFILIATIONS</h4></a>
            </li>
          </div>

        </ul>
      </nav>
    </div>

  </div>
  
  <div id="loader">
    <img src="./images/loading2.gif">
  </div>

    <!-- -----------------------------SCRIPTS----------------------------------------------- -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js"></script>

    <script src="js/wow.min.js"></script>
    <script src="js/index.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

    <script>
      AOS.init();
      new WOW().init();
</script>

  </body>
</html>
