body {
  height: 100%;
  width: 100% !important;
  overflow-x: hidden;
}
.heading {
  color: #ffffff;
  font-family: "Montserrat";
}
.pro_head {
  color: #000aff;
  font-size: 18px;
  padding-top: 2% !important;
}
.pro_content {
  color: #aaaac9;
  font-size: 16px;
  font-family: "Circular Normal", sans-serif;
}
.logo img {
  margin: 0;
  height: 14em !important;
}

/*added*/

.logo_text {
  margin: 0;
  font-family: Futura, Trebuchet MS, Arial, sans-serif;
  color:#ffffff;
  
}

.text {
  margin: 0;
}
.central_container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.arr {
  margin: 0;
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn1 {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

/* On mouse-over */
.btn1:hover {
  background: #eee;
}

.default {
  color: black;
}

.overlay1 {
  /* The image used */
  background-image: url("../images/LandingPageBG_min.jpg");

  /* background-image: url("bg.jpg"); */
  /* background-image: url("https://images.unsplash.com/photo-1463780324318-d1a8ddc05a11?dpr=1&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop="); */

  /* background-size: 130em !important; */
  /* Full height */
  height: 100vh;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.vertical_center {
  margin: 0;
  position: absolute;
  top: 300%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* .about_heading {
  color: #02002a;
}

.about_content {
  justify-content: left;
  padding: 5%;
  font-weight: bold;
  background-color: #A3BBAD;
  color: #504e4e;
  margin: auto;
  width: 650px;
  /* margin: auto; 
  border-radius: 15px;
} */
/* .footer {
  padding: 0.2%;
  bottom: 0;
}
.footer_content {
  color: rgb(65, 66, 66);
  font-size: 16px;
  padding-top: 2% !important;
  background-color: #f0f0f0 !important; */
/* } */
/* @media (max-width: 750px) {
  .about_content {
    width: 95%;
  }
} */
/* @media (max-width: 400px) {
  footer {
    height: 12%;
  }
} */
#products {
  transition: 3s;
}
.color1 {
  color: white;
  font-weight: bolder;
}
/* .footer_row {
  text-align: center !important;
}
@media (max-width: 600px) {
  .footer_row {
    text-align: left !important;
    padding-top: 5% !important;
  }
} */
/* new changes */
.pro_image img {
  /* width: 100% !important; */
  height: 12em;
}

.wow {
  visibility: hidden;
}
@media (max-width: 1024px) {
  #athena {
    display: flex;
    flex-direction: column;
  }
  #athena_image {
    order: 2;
  }
  #athena_text {
    order: 1;
  }
}
#hello {
  color: #070707;
}
/* about changes */

#about_heading {
  color: white;
  background-color: #070707;
  height: 100%;
  float: left;
  writing-mode: vertical-lr;
  text-orientation: sideways-right;
  font-family: "Montserrat";
  text-align: center;
}
#about_content {
  padding: 3.5% !important;
  line-height: 30px;
  font-weight: 400;
  text-align: justify !important;
}
#aboutus {
  margin-left: 8%;
  transform: rotate(180deg);
}
@media (max-width: 992px) {
  #about_heading {
    height: 20vh;
    writing-mode: horizontal-tb !important;
    text-orientation: mixed !important;
  }
  #aboutus {
    transform: none;
    margin-left: 0;
  }
}
#grant_heading {
  color: white;
  background-color: #070707;
  height: 25vh;
  writing-mode: horizontal-lr;
  text-orientation: sideways-right;
  font-family: "Montserrat";
  text-align: center;
}
#grant
{ transform: none;
  padding: 2% 0 0 0;
}
#grants_aff{
  height: 100%;
  margin-top: 1%;
}
.test{
  margin-bottom: 0 !important;
}
@media(max-width: 768px){
  .g_logo{
    margin-top: 12%;
  }
}
@media(min-width: 1024px){
  .g_logo{
    margin-top: 12%;
    margin-bottom: 12%;
  }
}
@media (max-width: 768px) {
  /* #about_heading {
    color: #ffffff;
    background-color: #02002a;
    width: 100%;
    height: 20%;
    margin-left: 0;
    writing-mode: horizontal-tb !important;
    text-orientation: mixed !important;
  } */
  #about_content {
    margin-top: 6%;
    margin-left: 0;
    margin-bottom: 15%;
    line-height: 30px;
    font-weight: 400;
    font-family: "Montserrat";
    text-align: center;
  }
  #aboutus {
    transform: none;
    margin-left: 0;
  }
  #about {
    margin-top: 2%;
  }
}
/* form changes */
.contact100-form-title {
  display: block;
  /* font-family: Ubuntu-Bold; */
  font-size: 30px;
  color: #070707;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 10px;
}

/*
.container-contact100 {
  width: 100%;  
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 2px;
  position: relative;
  background-color: #f2f2f2;
}

.wrap-contact100 {
  width: 550px;
  background: transparent;
  padding: 0px 0px 0px 0px;
}


/*==================================================================
[ Form ]

.contact100-form {
  width: 100%;
}


/*------------------------------------------------------------------
[ Input ]

.wrap-input100 {
  width: 100%;
  background-color: #fff;
  border-radius: 31px;
  margin-bottom: 16px;
  position: relative;
  z-index: 1;
}

.input100 {
  position: relative;
  display: block;
  width: 100%;
  background: #fff;
  border-radius: 31px;
  font-family: Ubuntu-Bold;
  font-size: 18px;
  color: #8f8fa1;
  line-height: 4;
}


/*---------------------------------------------
input.input100 {
  height: 62px;
  padding: 0 35px 0 35px;
  margin-left: 10%;
}


textarea.input100 {
  min-height: 169px;
  padding: 19px 35px 0 35px;
}

/*------------------------------------------------------------------
[ Focus Input ]

.focus-input100 {
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  border-radius: 31px;
  background-color: #000;
  pointer-events: none;
  
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.input100:focus + .focus-input100 {
  width: calc(100% + 20px);
} 

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 20px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}



.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}



*/
@media (max-width: 1024px) {
  #contact_us {
    width: 90%;
  }
}
#change_here {
  font-family: Futura, Trebuchet MS, Arial, sans-serif;
  color: #e4e4f7;
  font-size: 35px;
  font-style: italic;
}
@media (max-width: 768px) {
  #change_here {
    font-size: 27px;
    /* margin-top: 10%; */
  }
}
@media (max-width: 320px) {
  #change_here {
    font-size: 22px;
    /* margin-top: 10%; */
  }
  .logo_text {
    font-size: 40px;
  }
  #learn_more {
    font-size: 15px;
  }
}

#btn1 {
  background-color: #02002a;
  z-index: -1;
}
#learn_more {
  font-size: 23px;
  display: none;
}
@media (max-width: 768px) {
  .logo_text {
    margin: 0;
    /* position: absolute;
    top: 59%;
    left: 50%;
    transform: translate(-50%, -50%); */
    font-size: 50px;
  }
  #learn_more {
    font-size: 20px;
    margin-top: 5%;
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* -----------------------------------Common_-------------------------------- */
section {
  /* padding: 5em 0; */
  overflow: hidden;
}

/* ----------------------------------------------Footer------------------------------------------ */

#footer {
  margin-top: -1.25%;
  /* background-color: #333; */
  background-color: #070707;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
}

.illumnify-logo {
  height: 2.5em;
  margin: 3em 0;
}

#footer p {
  font-family: "Open Sans", sans-serif;
  font-size: 1.2em;
  text-align: center;
  color: #aaaac9;
  /* margin: 1em 0; */
  padding: 0 !important;
}

.socials {
  margin: 1em 0;
}

.socials a {
  font-size: 28px;
  color: #aaaac9 !important;
  margin: 0 10px;
}
@media only screen and (max-width: 750px) {
  #footer {
    flex-direction: column;
    justify-content: center;
  }

  .illumnify-logo {
    height: 2.5em;
    margin: 2em 0;
  }

  #footer p {
    order: 2;
  }

  .socials {
    order: 1;
    margin-bottom: 2em;
  }
}

/* -----SCROLL BAR ----------------------------------------------------------------------- */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #02002a;
  /* background: #00e0ff; */
}

/* Handle */
::-webkit-scrollbar-thumb {
  /* background: #888; */
  background: #0353a4;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/* ------------------------ABOUT US------------------------------------------------------- */
#about {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  margin-bottom: 0 !important;
  margin-top: 1%;
}
#about .row {
  /* padding:  0 0 0; */
}
/* ----------------------------PARALAX------------------------------------------------------- */
.parallax-container {
  height: 100vh !important;
}
.parallax img {
  /* background-size: cover !important; */
  width: 100% !important;
  /* height: 200vh !important; */
}

/* ==========================================================================
	 2.4  Pre Loader
	 ========================================================================== */
#loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh !important;
  background: black;
  z-index: 9999999999;
}
#loader img {
  position: absolute;
  height: 30vh !important;
  width: 40vh !important;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#home{
  background-color: #070707;
}
#products{
  margin-top: 1%;
}